<mat-card>
    <mat-card-header>
        <mat-card-title style="font-size: 20px;">My collapsible card title</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="!collapsed">
        <p>This is some example text.</p>
        <p>This text will disappear when you use the action button in the actions bar below.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="collapsed=true">Collapse text</button>
        <button mat-button (click)="collapsed=false">Uncollapse text</button>
    </mat-card-actions>
</mat-card>